.ms-navbar {
    border-color: black;
    border-widows: 1px;
    border: medium;
    border-style: solid;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
}

.ms-lg-input-text {
    width: 50%;
    height: 30%;
}

.ms-row-30 {
    height: 2000%;
}

.ms-navbar-row {
    margin: 3%
}

.ms-submit {
    margin-top: 3%;
    margin-right: 3%
}
