@()

@main("Add Question and Answer") {

    <form>
        <div class="row">
            <div class="col-md-2">
                <label>Question</label>
            </div>
            <div class="col-md-10">
                <textarea name="question"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <label>Answer</label>
            </div>
            <div class="col-md-10">
                <textarea name="answer"></textarea>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-1 col-xs-offset-3 ms-submit">
                <input class="align" type="submit" value="Submit">
            </div>
        </div>

    </form>
}